body {
  background-color: #f2f5f6;
  display: inline-block;
  min-height: 100vh;
  width: 100%;
  font-family: "Adelle SAGE";
}

.header {
  background-color: green;
  height: 100%;
  width: 35%;
  color: white;
  position: relative;
  z-index: 1;
}

.header::after {
  content: '';
  background: url("https://images.unsplash.com/photo-1567450121326-28da3797155d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  opacity: 0.5;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.header--final::after {
  background: url("https://images.unsplash.com/photo-1569408035581-14a0dba24deb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=633&q=80");
  background-size: cover;
  background-repeat: no-repeat;
}

.header__link {
  text-decoration: none;
  color: white;
  position: relative;
  overflow-x: hidden;
  display: inline-block;
  opacity: 1;
  z-index: 2;
}

.header__link:hover {
  color: white;
  text-decoration: none;
}

.header__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  bottom: 0;
  left: -100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__link:hover::after {
  left: 0;
}

.header--form {
  position: absolute;
  top: 0px;
  right: 0px;
}

.main {
  background-color: #f2f5f6;
  width: 65%;
  padding: 0 200px;
  height: 100%;
}

.main--form {
  width: 100%;
  margin: 0 auto;
}

.main__container {
  max-width: 620px !important;
  margin: 0 auto;
}

.welcome__heading, .welcome__result,
.final__heading,
.final__result {
  margin-top: 10vh;
}

.welcome__result,
.final__result {
  text-transform: uppercase;
  opacity: 0.5;
  font-weight: 700;
}

.welcome__subheading,
.final__subheading {
  margin-top: 10vh;
}

.welcome__btn,
.final__btn {
  border-radius: 0;
  margin-top: 11vh;
}

.more__heading {
  font-size: 1rem;
  font-weight: 700;
}

.more__img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 140px;
  width: 100%;
}

.more__time {
  opacity: 0.5;
  font-size: 1.1rem;
}

.form__question-number {
  color: #aaaaaa;
  text-transform: uppercase;
  font-weight: 700;
}

.form__todo {
  font-weight: 700;
  font-size: 1rem;
  color: #aaaaaa;
  line-height: 1rem;
}

.form__question {
  font-size: 2rem;
  font-weight: 700;
  color: #333;
}

.form__dropdown {
  text-align: left;
  position: relative;
}

.form__dropdown::after {
  content: 'u';
  position: absolute;
  right: 1rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
  -webkit-box-shadow: 0 0 6px 0px grey;
          box-shadow: 0 0 6px 0px grey;
}

.footer__next {
  background-color: green;
  color: white;
}

@media (max-width: 992px) {
  .header {
    width: 100%;
    height: 5vh;
  }
  .main {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }
  .welcome,
  .final {
    padding: 20px;
    text-align: center;
  }
  .welcome__subheading,
  .final__subheading {
    text-align: justify;
  }
}

.checkbox {
  -webkit-box-shadow: 0 0 6px 0px grey;
          box-shadow: 0 0 6px 0px grey;
}

.checkbox-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 2px grey inset;
          box-shadow: 0 0 0 2px grey inset;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  line-height: 25px;
}

.checkbox-text {
  line-height: 25px;
  font-size: 1rem;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #888;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #0076c6;
  -webkit-box-shadow: 0 0 0 2px #0076c6 inset;
          box-shadow: 0 0 0 2px #0076c6 inset;
}

.checkbox-container input:checked ~ .checkbox-text {
  color: #0076c6;
}

.checkbox-border {
  -webkit-box-shadow: 0 0 3px 2px #0076c6;
          box-shadow: 0 0 3px 2px #0076c6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after {
  left: 10px;
  top: 5px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.main--form .blur {
  -webkit-filter: blur(2px);
          filter: blur(2px);
}

.modal__heading {
  color: #333;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 24px;
}

.modal__todo {
  font-size: 1rem;
  opacity: 0.5;
  font-weight: 700;
  color: #888;
}

.modal-wrap {
  display: none;
}

.modal-wrap.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrap.active .modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  max-width: 592px;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.modal .container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: white;
}

.modal .cancel {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: arial;
  font-size: 30px;
  background-color: white;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.modal .checkbox {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal__checkboxes {
  padding-bottom: 50px;
}

.modal .checkmark {
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.modal .checkbox-text {
  font-size: 1rem;
  line-height: 20px;
  margin-left: 2rem;
}

.modal .checkbox-container .checkmark::after {
  left: 7px;
  top: 2px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal__btn {
  position: absolute;
  bottom: 30px;
  right: 30px;
  max-width: 138px;
  background-color: #0ca409 !important;
}
/*# sourceMappingURL=style.css.map */