@font-face {
    font-family: "Adelle Sans SAGE";
    src: url("AdelleSansSage/AdelleSansSAGE-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Adelle SAGE";
    src: url("AdelleSage/AdelleSAGE-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Adelle SAGE";
    src: url("AdelleSage/AdelleSage.ttf") format("truetype");
}



$green:#0ca409;
$blue:#0076c6;
$dark-grey:#333;
$light-grey:#888;
$lightest-grey: #aaaaaa;



body {
    background-color: #f2f5f6;
    display: inline-block;
    min-height: 100vh;
    width: 100%;
    color: #333;
    font-family: "Adelle SAGE", serif;
    font-weight: 400;
}

.height-min-100 {
    min-height: 100vh;
}

.header {
    background-color: rgba(12, 164, 9, 0.75);
    min-height: 100vh;
    height: 100%;
    width: 29.7%;
    color: white;
    position: fixed;
    z-index: 1;

    &::after {
        content: '';
        background: url('images/success.png');
        opacity: 0.5;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__link {
        text-decoration: none;
        color: white;
        position: relative;
        overflow-x: hidden;
        display: inline-block;
        opacity: 1;
        z-index: 2;
        font-size: 1rem;
        font-weight: 400;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }

    &__link::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        bottom: 0;
        left: -100%;
        transition: 0.3s;
    }

    &__link:hover::after {
        left: 0;
    }

    &--form {
        position: absolute;
        top: 0px;
        right: 0px;

        &__link {
            color: #333;

            &:hover {
                text-decoration: none;
                color: $blue;
            }
        }
    }

    .back {
        color: $dark-grey;
    }
}

.main {
    background-color: #f2f5f6;
    width: 70.3%;
    padding: 0 150px;
    margin-left: 29.7%;

    &--your-data {

        display: flex;
        align-items: center;
    }

    &--form {
        width: 100%;
        margin: 0 auto;

    }

    &__container {
        max-width: 620px !important;
        margin: 0 auto;
    }
}



.welcome,
.final {
    &__logo-container {
        padding-top: 33px;
        margin-right: -100px;

        .logo-text {
            font-size: 0.875rem;
        }
    }

    &__heading,
    &__result {
        margin-top: 10vh;
        font-size: 2.25rem;
        font-weight: 700;
        max-width: 500px;
        font-family: "Adelle Sans SAGE";
    }

    &__thank {
        font-size: 2.625rem;
        font-weight: 700;
    }

    &__result {
        text-transform: uppercase;
        opacity: 0.5;
        font-weight: 700;
    }

    &__subheading {
        margin-top: 10vh;
    }

    &__btn {
        border-radius: 0;
        margin-top: 4vh;
        background-color: $green !important;
    }

    &__email {
        color: #888;
    }

    &__text {
        font-size: 0.875rem;
        color: $dark-grey;
        font-family: "Adelle SAGE", serif;
        font-weight: 400;
        line-height: 24px;
    }
}



.more {
    &__heading {
        font-weight: 700;
    }

    &__img {
        object-fit: cover;
        max-height: 120px;
        width: 100%;
    }

    &__time {
        color: #777777;
        ;
        font-size: 1.1rem;
    }
}

.form {
    &__question-number {
        color: $lightest-grey;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Adelle Sans SAGE';
    }

    &__todo {
        font-weight: 700;
        font-size: 1rem;
        color: $lightest-grey;
        line-height: 1rem;
    }

    &__question {
        font-size: 2.25rem;
        line-height: 48px;
        font-weight: 700;
        font-family: 'Adelle Sans SAGE';
        color: $dark-grey;
        max-width: 620px;
    }

    &__dropdown {
        text-align: left;
        position: relative;

        &::after {
            content: '';
            background-image: url('images/arrow-down.png');
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 10px;
            height: 10px;
            right: 1rem;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}


.checkbox {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
}

.checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 0;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #fff;
    box-shadow: 0 0 0 2px #ccc inset;
    transition: 0.2s;
    line-height: 25px;

}

.checkbox-text {
    line-height: 25px;
    font-size: 1rem;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: $blue;
    box-shadow: 0 0 0 2px $blue inset;
}

.checkbox-container input:checked~.checkbox-text {
    color: $blue;
}

.checkbox-border {
    border: 1px solid #0076c6;
    box-shadow: 0 0 10px rgba(0, 118, 198, 0.5);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark::after {
    content: '';
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark::after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark::after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}




.your-data {

    &__subheading {
        color: $lightest-grey;
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Adelle Sans SAGE";
    }

    &__heading {
        font-size: 2.25rem;
        font-weight: 700;
        color: $dark-grey;
        font-family: "Adelle Sans SAGE";
    }

    &__p {
        font-size: 1rem;
        color: $dark-grey;
    }

    &__form {
        label {
            font-size: 14px;
            font-weight: 700;
            margin-bottom: 0.1rem;
            margin-top: 1rem;
        }

        .label-star {
            color: #ff541e;
        }

        input {
            padding: 1rem;
            height: 50px;
            width: 100%;
            border: 1px solid transparent;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

            &:focus {
                box-shadow: 0 0 10px rgba(0, 118, 198, 0.5);
                border: 1px solid $blue;
                color: $blue;

            }
        }

        .checkbox {
            box-shadow: none;
        }

        .checkmark {
            top: 0;
            transform: none;
        }


        .checkbox-text {
            color: $dark-grey;
            line-height: 1.5rem;
            font-size: 1rem;
            font-weight: 100;
        }

        .back {
            line-height: 50px;
            text-decoration: none;
            color: black;

            &:hover {
                color: $green;
            }
        }

        .btn {
            border-radius: 0;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            background-color: $green;
            height: 50px;
            width: 91px;
        }

    }
}

.form--radio {
    .checkmark {
        border-radius: 50%;
        width: 16px;
        height: 16px;
    }

    .checkbox-container .checkmark::after {
        left: 3px;
        top: 2px;
        width: 12px;
        height: 12px;
        border: solid white;
        border-width: 2px;
        border-radius: 50%;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

    &__back {
        color: $dark-grey;
        width: calc(100% - 140px);

        &:hover {
            color: $dark-grey;
            text-decoration: none;
        }

        img {
            top: 50%;
            transform: translateY(-25%);
        }
    }

    &__next {
        background-color: $green;
        color: white;
        font-weight: 700;
        width: 140px;

        &:hover {
            background-color: lighten($green, 5%);
            text-decoration: none;
        }
    }
}

@media (max-width:992px) {
    .header {
        width: 100%;
        height: 5vh;
        min-height: 5vh;
        background-color: transparent;
        color: black;


        &__link {
            color: black;
        }

        &::after {
            z-index: -5;
            position: relative;
        }

        &--form {
            position: initial;
        }

    }

    .main {
        margin: 0 auto;
        width: 100%;
        padding: 0 20px;
    }

    .welcome,
    .final {
        text-align: center;

        &__heading {
            margin: 0 auto;
        }

        &__subheading {
            text-align: justify;
        }

        &__logo-container {
            margin-right: 0;
        }


    }

    .footer {


        &__back {
            width: 69.5%;
        }

        &__next {
            width: 30.5%;
        }
    }
}

@media (min-width:1921px) {
    .main {
        padding: 0 13vw;
    }
}


.main--form .blur {
    filter: blur(2px);
}


//modal
.modal {


    &__heading {
        color: $dark-grey;
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 24px;
    }

    &__todo {
        font-size: 1rem;
        opacity: 0.5;
        font-weight: 700;
        color: $light-grey;
    }

    &-wrap {
        display: none;
    }

    &-wrap.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
    }

    &-wrap.active .modal {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        max-width: 592px;
        background-color: white;
        height: fit-content;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
        min-height: 65vh;
        max-height: 85vh;
    }



    .container {
        flex-basis: 100%;
        background-color: white;
    }

    .cancel {
        position: absolute;
        top: 10px;
        right: 10px;
        font-family: arial;
        font-size: 30px;
        background-color: white;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        cursor: pointer;
    }

    .checkbox {
        box-shadow: none;
    }


    .checkbox-border {
        border: 1px solid transparent;
    }

    &__checkboxes {
        max-height: 37vh;
        overflow-y: scroll;

        &::after {
            content: '';
            padding-top: 40px;
            text-align: center;
            position: absolute;
            bottom: 100px;
            left: 0;
            height: 141px;
            width: 100%;
            background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 1));
        }

        &::before {
            content: '';
            position: absolute;
            right: 23px;
            top: 60px;
            width: 20px;
            height: 65%;
            background: white;
            z-index: 5;

        }
    }


    .checkmark {
        width: 20px;
        height: 20px;
        line-height: 20px;
    }



    .checkbox-text {
        font-size: 1rem;
        line-height: 20px;
        margin-left: 2rem;
    }

    .checkbox-container .checkmark::after {
        left: 7px;
        top: 2px;
        width: 6px;
        height: 13px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &__btn {
        position: absolute;
        bottom: 30px;
        right: 30px;
        background-color: $green !important;
    }
}